PORT=your_port_number
DB_HOST=your_database_host
DB_PORT=your_port_number
DB_USERNAME=your_username
DB_PASSWORD=your_password  # Để trống nếu WampServer của bạn không đặt pass
DB_NAME=your_database_name

AI_ENGINE_URL=your_ai_engine_url